<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home translate</title>
    
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    
</head>
<body>
    <!-- Team Section Begin -->
    <section class="team spad set-bg" data-setbg="static/img/team-bg2.jpg" style="background-image: url(&quot;static/img/team-bg.jpg&quot;);">
        <div class="container">

            <div class="text-center">
                <input type="checkbox" id="animation1">
                <label for="animation1">
                    <a id='arrow-btn' class="arrow" onclick='dashboardTransistion()'></a>
                  
                </label>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="/">Home</a>
                        <a href="/text">Text Translate</a>
                        <a href="/audio">Audio Translate</a>
                        <a href="/video">Video Translate</a>
                        <a href="/text-tran">Text Transliteration</a>
                        <a href="/audio-tran">Audio Transliteration</a>
                        <a href="/video-tran">Video Transliteration</a>
                        <a class="btn btn-primary" style="color: white; margin: 20px;" href="/logout">logout</a> 
                      </div>
                      
                      
                      <span style="color: rgb(202, 45, 45);  font-size:30px;" onclick="openNav()">&#x2630;</span>
                      
                      <script>
                      function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                      }
                      
                      function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                      }
                      </script>
                    <div class="section-title team__title">
                        
                        <h2 id='page-headning'>TRANSLATION</h2>
                    </div>
                </div>
            </div>
            <div>
                <div class="row dashboard-divs" id='translation'>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                        <div class="team__item set-bg" data-setbg="static/img/team/team-5.jpg" style="background-image: url(&quot;static/img/team/team-5.jpg&quot;);">
                            <div class="team__item__text">
                               <h4><a href="/video">Video Translate</a></h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                        <div class="team__item team__item--second set-bg" data-setbg="static/img/team/team-6.jpg" style="background-image: url(&quot;static/img/team/team-6.jpg&quot;);">
                            <div class="team__item__text">
                                <h4><a href="/audio">Audio Translate</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                        <div class="team__item team__item--third set-bg" data-setbg="static/img/team/team-7.jpg" style="background-image: url(&quot;static/img/team/team-7.jpg&quot;);">
                            <div class="team__item__text">
                                <h4> <a href="/text">Text Translate</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                        <div class="team__item team__item--four set-bg" data-setbg="static/img/team/team-8.jpg" style="background-image: url(&quot;static/img/team/team-8.jpg&quot;);">
                            <div class="team__item__text">
                                <h4><a href="/image">Image to Text</a></h4>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 p-0">
                        <div class="team__btn">
                            <a href="dictionary.html" class="primary-btn">For Dictionary</a>
                        </div>
                    </div> -->
                </div>
    
                <div class="row dashboard-divs" id='transliteration' style='transform: translateY(250px);'>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                        <div class="team__item set-bg" data-setbg="static/img/team/team-6.jpg" style="background-image: url(&quot;static/img/team/team-5.jpg&quot;);">
                            <div class="team__item__text">
                               <h4><a href="/videotran">Video Transliteration</a></h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                        <div class="team__item team__item--second set-bg" data-setbg="static/img/team/team-5.jpg" style="background-image: url(&quot;static/img/team/team-6.jpg&quot;);">
                            <div class="team__item__text">
                                <h4><a href="/audiotran">Audio Transliteration</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                        <div class="team__item team__item--third set-bg" data-setbg="static/img/team/team-7.jpg" style="background-image: url(&quot;static/img/team/team-7.jpg&quot;);">
                            <div class="team__item__text">
                                <h4> <a href="/texttran">Text Transliteration</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                        <div class="team__item team__item--four set-bg" data-setbg="static/img/team/team-8.jpg" style="background-image: url(&quot;static/img/team/team-8.jpg&quot;);">
                            <div class="team__item__text">
                                <h4><a href="/imagetran">Image Transliteration</a></h4>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 p-0">
                        <div class="team__btn">
                            <a href="dictionary.html" class="primary-btn">For Dictionary</a>
                        </div>
                    </div> -->
                </div>
            </div>
            </div>
            
    </section>
    <!-- Team Section End -->

    
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    function dashboardTransistion(){
        console.log(document.getElementById('page-headning').innerHTML)
        if(document.getElementById('page-headning').innerHTML == 'TRANSLATION'){
            document.getElementById('page-headning').innerHTML = 'TRANSLITERATION'
            document.getElementById('transliteration').style.transform = "translateY(-400px)";
            document.getElementById('translation').style.transform = "translateX(-1420px)";
        }else{
            document.getElementById('page-headning').innerHTML = 'TRANSLATION'
            document.getElementById('transliteration').style.transform = "translateY(300px)";
            document.getElementById('translation').style.transform = "translateX(0px)";
        }
    }
</script>
</html>